<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <!-- JUL propagator -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!--Console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %5.5level [%thread] %logger - [%method] %message%n</pattern>
        </encoder>
    </appender>

    <!--&lt;!&ndash;Application buffer logger&ndash;&gt;-->
    <!--<logger name="lt.registrucentras.vbp" level="INFO" additivity="false">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->

    <!--ROOT logger -->
    <root level="ERROR">
        <appender-ref ref="console"/>
    </root>

</configuration>